<a href = "products" class="list-group-item" style="background-color: greenyellow;">
    View All Products
 </a>

 <a href = "products/create-product" class="list-group-item" style="background-color: rgb(47, 255, 203);">
    Add New Product
 </a>
<div class="list-group" *ngFor = "let cat of categoryList">
    <a href = "products/category/{{cat.id}}" class="list-group-item">
        {{cat.categoryName}}
     </a>
    
</div>
