<h2 class="bg-light mb-3 p-2">Add New Product</h2>
<form class="needs-validation" novalidate (submit)="addNewProduct(addProductForm)" #addProductForm='ngForm'>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">Product Name</label>
        <input type="text" class="form-control" name="product_name" ngModel required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom02">Category Id</label>
        <input type="text" class="form-control" name="product_category" ngModel  required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Description</label>
        <textarea type="text" class="form-control" name="product_description" ngModel required></textarea>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom04">Rating</label>
        <select class="custom-select" name="product_rating" ngModel required>
          <option selected disabled value="">Choose...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Product Color</label>
        <input type="text-area" class="form-control" name="product_color" ngModel required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom04">Is Available</label>
        <select class="custom-select" name="" ngModel required>
          <option selected disabled value="">Choose...</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Product Price</label>
        <input type="text-area" class="form-control" name="product_price" ngModel required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom04">Reviews</label>
        <select class="custom-select" id="validationCustom04" name="product_category" ngModel required>
          <option selected disabled value="">Choose...</option>
          <option value="1">10</option>
          <option value="2">23</option>
          <option value="3">43</option>
          <option value="4">50</option>
          <option value="5">9<0/option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Add Product</button>
  </form>
  
  <!-- <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script> -->
