<app-header></app-header>
<div class="container mt-4">
 <div class="row">

    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <router-outlet></router-outlet>
    </div>

    <!-- /.col-lg-9 -->
  </div>

  <!-- /.row-->
</div>

<!-- /.container -->

<app-footer></app-footer>


