<h1>Showing Category Results</h1>
<div class="row">
  <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{product.productImg}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a routerLink = "product/{{product.id}}">{{product.productName}}</a>
        </h4>
        <h5>${{product.price}}</h5>
        <p class="card-text">{{product.description}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{product.rating}} Stars</small>
      </div>
    </div>
  </div>

</div>