/* You can add global styles to this file, and also import other style files */



  footer{
      padding-top: 30px
  }
  .navbar-custom{
      background-color: rgb(0, 255, 136);
  }

  .nav-link{
      color: white;
      font-weight: bolder;
  }

  .navbar-brand{
      color: whitesmoke;
      font-weight: bolder;
  }
  .a1{
    background-color: rgb(0, 255, 136);
    color: whitesmoke;
      font-weight: bolder;
  }
